/* Pulsing Animation */
body { padding: 1em;margin: 0;width: 100vw;height: 100vh;display: flex;flex-direction: column;overflow-y: hidden;background-color: rgb(17, 0, 104);
  font-family: "Courier New", Courier, monospace;font-size: 1em;color: white;}

.wk-box {display: flex;flex-direction: horizontal;width: fit-content;height: calc(100vh - 90px);margin-top: auto;margin-bottom: auto;color: rgb(255, 255, 255);}
.wk-box > * {width: 100px;height: 100px;border-radius: 50px;margin: 0vh 10vw;background-color: rgba(9, 255, 0, 0);animation: pulse-dot 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;text-align: center;line-height: 100px; &:active { animation: pulse-ring 3s cubic-bezier(0.215, 0.61, 0.355, 1);animation-iteration-count: 1; }}
#wk-1 {position: absolute;top: 50%;left: 10%;}
#wk-2 {position: absolute;top: 50%;left: 50%;}
#wk-3 {position: absolute;top: 30%;left: 50%;}
@keyframes pulse-dot { 0% {transform: scale(0.95); } 50% {transform: scale(1); } 100% {transform: scale(0.95); }
                      }
@keyframes pulse-ring { 0% {transform: scale(0.5); } 80%, 100% {opacity: 0;transform: scale(5); }
                      }

/* Custom Cursor
Change the code --> your image/gif */
body {
  cursor: url('Workbook/Images/fish-cursor.gif'), auto;
}

.aladin-regular {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

.summary{
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

img {
    border: none; 
    border-color:transparent;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url(Workbook/Images/underwater-bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

p{
    color:rgb(255, 255, 255);
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    font-size:larger;
    text-align: center;
}

strong {
    font-family: "Madimi One", sans-serif;
    text-align: center;
    font-size:larger;
}

* {
    margin: 5;
    padding: 0;
  }

  h1 {
    color:rgb(255, 255, 255);
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    text-align: center;
    padding-left: 20px;
  }

h2 {
    color: #ffffff;
    font-family: "Madimi One", sans-serif;
    text-align: center;
    padding-left: 20px;
}

/* Removes the default grey box around buttons */
  button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


.fish{
    display:flex;
    float:left;
    margin:80px;
    padding-right: 5%;
}

.crab{
    display:flex;
    float:left;
    margin: 80px;
    padding-right: 5%;
}

.diver{
    display:flex;
    float:left;
    margin: 80px;
}

/* creating a draggable interface */
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  .box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
  }
  