.hg{
    color:rgb(123, 255, 0);
    background-color: aquamarine;
}

.BBC{
  width: 100px;
  height: 200px;
}

      
  iframe {
    position: fixed;
    /* top: 30%; */
    top: 50%;
    left: 30%;
    width: 100vw;
    height: 100vh;
    transform: translate(-30%, -30%);
  }

/* Making the YouTube video full screen */
  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
  }

  .video-overlay{
    position:absolute;
     z-index:9999999999;
   }

/* Removes the default grey box around buttons */
button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  color: rgb(11, 184, 155);
  font-family: "Madimi One", sans-serif;
}

/* id for back to home button */
.home-button{
  display:flex;
  float:left;
  margin-left:50px;
  padding-right: 5%;
}

.watch{
  font-family: "Madimi One", sans-serif;
}

h1{
  font-family: "Madimi One", sans-serif;
}

h2{
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

th{
  padding-right: 5%;
}

table{
  padding-left: 30%;
}